body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease; 
}

[data-theme='Light'] {
  --background-color: #ffffff;
  --text-color: #333333;
}

[data-theme='Dark'] {
  --background-color: #333333;
  --text-color: #ffffff;
}

/* header */

.header{
  background-color: #1f2937;
  color: rgb(229,9,20);
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 6px;
  opacity: 90%;
}

.header h1{
  grid-column: 2;
  justify-self: center;
  margin: 10px;
  font-size: 36px;
  cursor: pointer;
}
  
.header button{
  grid-column: 3;
  justify-self: flex-end;
  margin-right: 2vw;
  min-width: 5vw;
  padding: 5px 15px;
  background-color: var(--background-color);
  color: var(--text-color);
  border-radius: 23px;
  font-size: 3vh;
}

/* Login Page */

.wholePage{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url('../assets/Login-bg.jpg');
  background-repeat: no-repeat; /* Prevents the image from repeating */
    background-size: cover; /* Ensures the image covers the entire element */
    background-position: center center; /* Centers the image */
    color: #F9FAF8;
}

.loginPage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1; 
  min-height: 100vh;
}

.loginPage h1{
  font-weight: 900;
  letter-spacing: 1.75px;
  font-size: 36px;
}

.loginPage h2{
  margin-bottom: 15px;
  opacity: 70%;
  font-weight: 400;
}

.inputBox{
    line-height: 1.5;
    padding: 1.5rem 1rem 0.5rem;
    margin-bottom: 27px;
    font-size: 18px;
    background-color: var(--background-color);
    color: var(--text-color);
}

.loginBtn{
  padding: 10px 50px;
  font-size: 16px;
  background-color: #1f2937;
  color: #F9FAF8;
  font-weight: 600;
  border: 0px;
  cursor: pointer; 
}

/* Footer */

.Footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #F9FAF8;
    padding: 1vw;
    opacity: 90%;
}

/* Main Page */

.mainPage{
  display: flex;             /* 1. Set the body as a flex container */
  flex-direction: column;    /* 2. Stack children vertically */
  min-height: 100vh;         /* 3. Ensure the body spans at least the full viewport height */
  margin: 0;                 /* 4. Remove default body margins */
}

.mainContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  min-width: 1.5;
  background-color: var(--background-color);
  color: var(--text-color);
  flex-grow: 1;
}

.searchArea{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.searchBox{
  width: 33vw;
  padding: 12px 20px 12px 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: var(--background-color);
  color: var(--text-color);
}

.searchBtn{
  padding: 12px 20px 12px 20px;
  background-color: #1f2937;
  border: 2px solid #1f2937;
  border-radius: 4px;
  cursor: pointer;
  color: #ccc;
}

.movieCard{
  background-color: #1f2937;
  color: #F9FAF8;
  margin: 50px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 15px;
  cursor: pointer;
  transition: transform .2s;
}

.movieCard:hover{
  transform: scale(1.1); 
}

.movieCard img{
  height: 40vh;
  width: 100%;
}

.movieCard h2{
  font-weight: 900;
}

.movieCard h4 .released{
  opacity: 50%; 
}

.pieContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(201, 203, 207, 0.6);
  color: #1f2937;
  padding: 2vw;
  border-radius: 15px;
}

.pieContainer h1{
  margin: 0;
}

.chartTitle{
  font-size: 3vw;
}

/* Movie Page */

.Moviedetails{
  padding: 2vw;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  color: var(--text-color);
}
.Moviedetails h1{
  margin-bottom: 6px;
  font-size: 50px;
  font-weight: 500;
}

.Moviedetails p{
  margin-top: 0;
  opacity: 60%;
}

.mainMovieContent{
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

.leftAlign{
  max-width: 70vw;
  display: flex;
  flex-direction: column; 
  margin-top: 20px;
}

.leftMain{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 16px;
}

.rightAlign{
  align-self: flex-end;
}

.genre{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.genre span{
  background-color: #1f2937;
  color:#F9FAF8;
  padding: 7px 21px;
  border-radius: 20px;
}

.flex-hr {
  width: 100%; 
  height: 1px;
  background-color: gray;
  border: none;
  margin: 10px 0;
}

.imdb{
  font-weight: 900;
  color: #f5c518;
}

.leftMain a{
  text-decoration: none;
}

@media (width < 500px){
  .movieCard{
    margin: 4vw;
  }
  .mainContent{
    padding: 10vw;
  }
}

