body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* header */

.header{
  background-color: #1f2937;
  color: rgb(229,9,20);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 6px;
  opacity: 90%;
}

.header h1{
  margin: 15px;
  font-size: 36px;
}

/* Login Page */

.wholePage{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url('../assets/Login-bg.jpg');
  background-repeat: no-repeat; /* Prevents the image from repeating */
    background-size: cover; /* Ensures the image covers the entire element */
    background-position: center center; /* Centers the image */
    color: #F9FAF8;
}

.loginPage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1; 
  min-height: 100vh;
}

.loginPage h1{
  font-weight: 900;
  letter-spacing: 1.75px;
  font-size: 36px;
}

.loginPage h2{
  margin-bottom: 15px;
  opacity: 70%;
  font-weight: 400;
}

.inputBox{
    line-height: 1.5;
    padding: 1.5rem 1rem 0.5rem;
    margin-bottom: 27px;
    font-size: 18px;
}

.loginBtn{
  padding: 10px 50px;
  font-size: 16px;
  background-color: #1f2937;
  color: #F9FAF8;
  font-weight: 600;
  border: 0px;
  cursor: pointer; 
}

/* Footer */

.Footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #F9FAF8;
    padding: 1vw;
    opacity: 90%;
}

/* Main Page */

.mainContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  min-width: 1.5;
  min-height: 100vh;
}

.searchArea{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.searchBox{
  width: 25vw;
  padding: 12px 20px 12px 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
}

.searchBtn{
  padding: 12px 20px 12px 20px;
  background-color: inherit;
  border: 2px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}
